<center><h3> Please select a number for how highly you value each description </h3></center>
<div class="form-signin" >
<div class="w3-container w3-section w3-border w3-round-xlarge">
  <%= render "elements/questionone" %>
  <%= render "elements/questiontwo" %>
  <%= render "elements/questionthree" %>
  <%= render "elements/questionfour" %>
  <%= render "elements/questionfive" %>
  <%= render "elements/questionsix" %>
  <%= render "elements/questionseven" %>
  <%= render "elements/questioneight" %>
  <%= render "elements/questionnine" %>
  <%= render "elements/questionten" %>
  <button type="submit" class="btn btn-primary">Submit</button>

</div>
</div>