<center><div class="jumbotron">
<div class="w3-container w3-section w3-border w3-round-xlarge">
<h1>Compatibility Test</h1>
<p>Rate each question from 1-3 based on importance <br>(you can only use a number once)</p>

<%= form_for @questionnaire do |f| %>

<div>
    <%= f.label :question_1  %> Going to bed by 10pm<br>
    <%= f.text_field :question_1 %> <br>
    <%= f.label :question_2  %> Having a spotless kitchen <br>
    <%= f.text_field :question_2 %> <br>
    <%= f.label :question_3  %> Saving your apartment for a study space<br>
    <%= f.text_field :question_3 %> <br>
    
</div>
    <%= f.submit "Submit" %>
<% end %>
</center>
</div>