<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bunkmate application">
    <meta name="author" content="Jordan Boudreau">

    <title>Bunkmate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <% if user_signed_in? %>
      <body>
        
        <div class="container">
          <%= yield %>
        </div><!-- /.container -->
      </body>
    <% else %>
    <body>
      <div class="container">
        <%= yield %>
        </div><!-- /.container -->
    </body>
    <% end %>
 
</html>